.header-team-score-container {
  width: 90%;
  border-radius: 10px;
  background-color: var(--c3);
  padding: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-team-score {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  gap: 15px;
  justify-items: center;
  justify-content: flex-end;
}

.header-team-score div {
  padding: 5px;
  text-align: center;
  font-size: 25px;
}
