

.sport-filter {
  width: 100px; /* Adjust width as needed */
  height: 40px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid ;
  border-color: white;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
}

.sport-filter:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
}

.sport-filter::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensures the arrow doesn't interfere with clicking */
}

/* Optional: Style the dropdown options */
.sport-filter option {
  padding: 8px;
}

.sport-filter:focus {
  border-color: var(--c3); /* Highlight border color on focus */
}

.sport-filter::after {
  color: var(--c3); /* Highlight dropdown arrow color */
}