:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--back);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --back: #242424;
  --c1: #191e33;
  --c2: #040920;
  --c3: #88d1fb;
  --text: white;
  --line: #244050;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  text-decoration: none;
  color: var(--c3);
}

body {
  margin: 0;
  padding: 0;
}
