#tournament-info {
  margin-right: 10px;
}

#tournament-info .image {
  background-color: var(--c2);
  border-radius: 10px;
  padding: 10px;
}

#tournament-info .info .name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.7em;
  margin-right: 5px;
  color: var(--text);
}

#tournament-info .info span {
  color: var(--text2);
  margin-left: 5px;
  font-size: large;
}
